body {
    background: black;
}

h1 {
    color: orange;
}

#calculator {
    display: grid;
    grid-template-rows: 1fr 4fr;
    background: orange;
    height: 600px;
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 5px 5px 20px 2px orange;
}

#screen {
    background: white;
    border: 1px solid black;
    text-align: end;
    font-size: 22px;
    padding-right: 10px;
    padding-top: 25px;
    border-radius: 10px;
}

#buttons {
    cursor: pointer;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#numbersContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.button {
    background: white;
    border: 1px solid black;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    transition: all .3s;
}

#operatorsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding-top: 0;
}

.button:hover {
    color: orange;
    background: black;
}

.pressed {
    color: orange;
    background: black;
}